html {
  font: 16px/1.2 sans-serif;
}

/* Base, Typography */

html,
body {
  height: 100%;
}

a {
  color: inherit;
}

a:hover,
a:focus {
  color: #e53935;
  text-decoration: underline;
}

h1 {
  margin: 0 0 .4rem;
  font-size: 2em;
  line-height: 1;
}

p {
  margin: 0 0 1.2rem;
}

p:last-child {
  margin-bottom: 0;
}


/* Layout */

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background: #f5f5f5;
}

header {
  margin: 0 0 1.2rem;
  padding: 1.2rem;
  text-align: center;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,.25)
}

main {
  flex: 1;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 1.2rem 0 0 0;
  background: #eee;
}

footer p {
  margin: 1.2rem;
}


/* Game */

.game {
  box-sizing: border-box;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  flex-direction: column;
  flex-wrap: wrap;
  padding: .6rem;
  user-select: none;
  perspective: 2000px;
  counter-reset: card;
}

@keyframes flip {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(180deg);
  }
}

.card {
  position: relative;
  margin: auto;
  width: 18vmin;
  height: 18vmin;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,.15);
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  transition: .2s;
  counter-increment: card;
  animation: flip 2s linear backwards;
  cursor: pointer;
}

.card::before,
.card img {
  z-index: 2;
  display: block;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  backface-visibility: hidden;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #fff url('images/kottan.png') no-repeat center / 50% auto;
  transform: rotateY(180deg);
}

.card.opened {
  transform: rotateY(0);
}

.card.hidden {
  opacity: 0;
  visibility: hidden;
}

.label {
  text-transform: uppercase;
}
