.game {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border: 1px solid gray;
}

.card {
  display: flex;
  padding: 1rem;
  margin: 4px;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  background: gray;
}

.card.opened {
  background: white;
}

.card.hidden {
  opacity: 0;
  visibility: hidden;
}
